*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(1, 15, 37);
}
h1{
    color: beige;
    text-align: center;
    padding: 15px;
    padding-top: 25px;
    
}
p{
    color: aliceblue;
    width: 60%; 
    position: relative;
    left: 15%;
    font-size: 1.2rem;
    /* text-align: center; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 12px;
}